<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}">
<meta charset="ISO-8859-1">
<title>Lista de cursos</title>
</head>
<body>
	<div th:replace="fragments :: header"></div>
	<br>
	<div style="text-align: center; width: 1200px; margin: auto;">
	<h1>Lista de cursos impartidos</h1>
		<form th:action="@{/cursos/filtroCursosFechas}">
		
			<label for="fechaInicio">Fecha Inicio</label> <input type="date"
				 id="fechaInicio" th:value="${fechaInicio}" name="fechaInicio" required>
				 
			<label for="fechaFin">Fecha Fin</label> <input type="date"
				 id="fechaFin" th:value="${fechaFin}" name="fechaFin" required>

		 <input type="submit" class="btn-gradient red mini" style="width: 100px;">
		</form>

		<a th:href="@{/cursos/filtroCursosAcabados}">
			<button >Cursos acabados</button>
		</a>
	
		<a th:href="@{/cursos/filtroCursosSinEmpezar}">
			<button >Proximos cursos</button>
		</a>
		<a th:href="@{/cursos/filtroCursosImpartiendose}">
			<button >Cursos activos</button>
		</a>

	</div>
	<br>
	<table class="table table-striped table-bordered">
		<thead class="thead-light">
			<tr>
				<th>Nombre</th>
				<th>Descripci&oacute;n</th>
				<th>Nivel</th>
				<th>Fecha Inicio</th>
				<th>Fecha Fin</th>
			</tr>
		</thead>
		<tbody th:each="curso: ${cursos}">
			<tr>
				<th th:text=${curso.nombre}></th>
				<th th:text=${curso.descripcion}></th>
				<th th:text=${curso.nivel}></th>
				<th th:text=${curso.fechaInicio}></th>
				<th th:text=${curso.fechaFin}></th>
				<th><a th:href="@{/cursos/formCursoProfesor/} + ${curso.id}">
						<button type="button" class="btn btn-default">
							<i class="fa-solid fa-pen-to-square"></i>
						</button>
				</a> <a th:href="@{/cursos/deleteCursoProfesor/}+ ${curso.id}"
					th:onclick="return confirm('&iquest;Est&aacute;s seguro que deseas eliminar el registro?');">
						<button type="button" class="btn btn-default">
							<i class="fa-solid fa-trash" aria-hidden="true"></i>
						</button>
				</a>
				<a th:href="@{/cursos/inscritos/}+ ${curso.id}" >
						<button type="button" class="btn btn-default"><i class="fa-solid fa-eye" aria-hidden="true"></i></button>
				</a></th>
			</tr>
		</tbody>
	</table>
	<br>
	<div class="alert alert-success" th:if="${success != null}"
		th:text="${success}"></div>
	<div class="alert alert-danger" th:if="${error != null}"
		th:text="${error}"></div>
	<div class="alert alert-warning" th:if="${warning != null}"
		th:text="${warning}"></div>
	<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>

	<div style="text-align: center; width: 500px; margin: auto;">
		<a th:href="@{/cursos/formCursoProfesor/}">
			<button type="button" class="btn btn-primary">Nuevo Curso</button>
		</a> <a th:href="@{/home}">
			<button type="button" class="btn btn-primary">Regresar</button>
		</a>
	</div>
</body>
</html>