<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}">
<meta charset="ISO-8859-1">
<title>Formulario Profesores</title>
</head>

<body>
	<div th:replace="fragments :: header"></div>
	<br>
<form th:action="@{/profesores/addProfesor/}" th:object="${profesor}" method="post" style="text-align:center;width: 500px;margin: auto;">
		
		<h1 th:text="${profesor.idProfesor != 0} ? 'Editar Profesor' : 'Nuevo Profesor'" >Nuevo Profesor</h1>
		
		<input type="hidden" th:field="*{idProfesor}" id="idProfesor">
		<div class="form-group">
		<label>Nombre: </label>
		<input type="text" class="form-control" th:field="*{nombre}" placeholder="Nombre" id="nombre" required/>
		</div>
		<br>
		<div class="form-group">
		<label>Apellidos: </label>
		<input type="text" class="form-control" th:field="*{apellidos}" placeholder="Apellidos" id="apellidos" required/>
		</div>
		<br>
		<div class="form-group" th:if="*{idProfesor!=0}" >
			<label>Email: </label>
			<input type="email" readonly="readonly" class="form-control" th:field="*{email}" placeholder="Correo electr&oacute;nico"  id="email" pattern="([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+" required/>
		</div>
		<div class="form-group" th:if="*{idProfesor==0}" >
			<label>Email: </label>
			<input type="email" class="form-control" th:field="*{email}" placeholder="Correo electr&oacute;nico"  id="email" pattern="([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+" required/>
			<div th:if="${error!=null}" class="alert alert-danger">Correo existente</div>
		</div>
		<br>
		<div class="form-group" th:if="*{idProfesor==0}" >
			<label>Contrase&ntilde;a: </label>
			<input type="password" class="form-control" th:field="*{password}" placeholder="Contrase&ntilde;a"  id="password" minlength="8" required/>
		</div>
		<div class="form-group" th:if="*{idProfesor!=0}" >
			<input type="hidden" class="form-control" th:field="*{password}" placeholder="Contrase&ntilde;a" id="password" minlength="8" required/>
		</div>
		<br>
		<input type="submit" class="btn btn-primary">
		<a th:href="@{/profesores/}">
		<button type="button" class="btn btn-primary">Regresar</button>
		</a>
		
</form>
<br><br>
</body>
</html>