<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<meta charset="UTF-8">
<div th:replace="fragments :: header"></div>
<title>Formulario alumnos</title>
<br>
</head>
<body>
	<div class="containter">
		<div class="row">
			<div class="col-md-offset-3 col-md-6">

				<form action="#" th:action="@{/alumnos/addAlumnos}"
					th:object="${alumno}" method="post">
					<h1
						th:text="${alumno.id != 0} ? 'Editar alumno' : 'Nuevo alumno'">
						Nuevo alumno</h1>
					<input type="hidde" th:field="*{id}" id="id">
					<div class="form-group">
						<label for="nombre">Nombre</label> <input type="text"
							th:field="*{nombre}" class="form-control" id="nombre"
							placeholder="Introduce tu nombre">
					</div>

					<div class="form-group">
						<label for="apellidos">Apellidos</label> <input type="text"
							th:field="*{apellidos}" class="form-control" id="Apellidos"
							placeholder="Introduce tus apellidos">
					</div>

					<div class="form-group">
						<label for="email">Email</label> <input type="text"
							th:field="*{email}" class="form-control" id="email"
							placeholder="Introduce tu email">
					</div>

					<div class="form-group">
						<label for="password">Clave</label> <input type="password"
							th:field="*{password}" class="form-control" id="password"
							placeholder="Introduce tu clave">
					</div>
					
					<div class="form-group">
						<label for="foto">Foto</label> <input type="file"
							th:field="*{foto}" class="form-control" id="foto"
							placeholder="Introduce tu foto">
					</div>
					
					<input type="submit" class="btn btn-primary">

					<div class="alert alert-success" th:if="${success != null}"
						th:text="${success}"></div>
					<div class="alert alert-danger" th:if="${error != null}"
						th:text="${error}"></div>
					<div class="alert alert-warning" th:if="${warning != null}"
						th:text="${warning}"></div>
					<div class="alert alert-info" th:if="${info != null}"
						th:text="${info}"></div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>