<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<meta charset="UTF-8">
<title>Formulario noticias</title>
</head>
<body>
	<div th:replace="fragments :: header"></div>
	<br>
	<form th:action="@{/noticias/addNoticia/}" th:object="${noticia}" method="post" style="text-align:center;width: 500px;margin: auto;" enctype="multipart/form-data">
		
		<h1 th:text="${noticia.id != 0} ? 'Editar noticia' : 'Nueva noticia'" >Nueva noticia</h1>
		
		<input type="hidden" th:field="*{id}" id="id">
		<div class="form-group">
		<label for="titulo">Titulo</label> 
		<input type="text" th:field="*{titulo}"
				class="form-control" id="titulo" placeholder="Introduce el titulo" required>
		<div th:if="${error!=null}" class="alert alert-danger">Noticia existente</div>
		</div>
		<div class="form-group">
			<label for="descripcion">Descripcion</label> <input type="text"
				th:field="*{descripcion}" class="form-control" id="descripcion"
				placeholder="Introduce la descripcion" required>
		</div>

		<div class="form-group">
			<label for="file">Imagen</label> <input type="file" 
				class="form-control input-file" id="file" name="file" required>
				
		</div>
		
		<input type="hidden" th:field="*{usuarioId}" id="usuarioId">
		
		<br><br>
		<input type="submit" class="btn btn-primary">
		<a th:href="@{/noticias/listNoticias}">
		<button type="button" class="btn btn-primary">Regresar</button>
		</a>
	</form>
	<br><br>
	<div class="alert alert-success" th:if="${success != null}"
		th:text="${success}"></div>
	<div class="alert alert-warning" th:if="${warning != null}"
		th:text="${warning}"></div>
	<div class="alert alert-info" th:if="${info != null}"
		th:text="${info}"></div>
</body>
</html>