<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<meta charset="UTF-8">
<title>Formulario alumnos</title>
</head>
<body>
<div th:replace="fragments :: header"></div>
<br>
	<form th:action="@{/alumnos/addAlumno}" th:object="${alumno}" method="post" style="text-align:center;width: 500px;margin: auto;">
		<input type="hidden" th:field="*{idAlumno}" id="idAlumno">
		<h1>Modificar datos</h1>
		<br>
			<div class="form-group">
				<label for="nombre">Nombre:</label> 
				<input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="Introduce tu nombre" required>
			</div>
			<div class="form-group">
				<label for="apellidos">Apellidos:</label> 
				<input type="text" th:field="*{apellidos}" class="form-control" id="Apellidos" placeholder="Introduce tus apellidos" required>
			</div>
			<div class="form-group">
				<label for="email">Email:</label> 
				<input type="text" readonly="readonly" th:field="*{email}" class="form-control" id="email" placeholder="Introduce tu email" pattern="([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+" required>
			</div>
				<input type="hidden" th:field="*{password}" class="form-control" id="password" placeholder="Introduce tu clave" minlength="8" required>
			<div class="form-group">
				<label for="foto">Foto:</label> 
				<input type="file" th:field="*{foto}" class="form-control" id="foto" placeholder="Introduce tu foto" required>
			</div>
			<br>
			<input type="submit" class="btn btn-primary">

			<div class="alert alert-success" th:if="${success != null}"
				th:text="${success}"></div>
			<div class="alert alert-danger" th:if="${error != null}"
				th:text="${error}"></div>
			<div class="alert alert-warning" th:if="${warning != null}"
				th:text="${warning}"></div>
			<div class="alert alert-info" th:if="${info != null}"
				th:text="${info}"></div>
	</form>
	<br><br>
</body>
</html>