<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}">
</head>
<body>
<header class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top" th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gesti&oacute;nCurso</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/home">Inicio
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li sec:authorize="hasRole('ROL_ADMIN')" class="nav-item">
        <a class="nav-link" th:href="@{/profesores/listprofesores}">
			profesores
		</a>
        </li>
        <li sec:authorize="hasRole('ROL_ADMIN')" class="nav-item">
        <a class="nav-link" th:href="@{/cursos/listcursos}">
			cursos
		</a>
        </li>
        <li sec:authorize="hasRole('ROL_ADMIN')" class="nav-item">
        <a class="nav-link" th:href="@{/alumnos/listalumnos}">
			alumnos
		</a>
        </li>
        </ul>
        <ul class="navbar-nav me auto">
        <li sec:authorize="!isAuthenticated()" class="nav-item">
        <a class="nav-link" th:href="@{/auth/login}">
			<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Iniciar sesi&oacute;n"><i class="fa-solid fa-arrow-right-to-bracket" style="color:white"></i></button>
		</a>
        </li>
        <li sec:authorize="!isAuthenticated()" class="nav-item">
          <a class="nav-link" th:href="@{/auth/registerForm}">
          <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Registro usuario"><i class="fa-solid fa-user-check" style="color:white"></i></button></a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
          <a class="nav-link" th:text="'Hola ' + ${#authentication.name}"></a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
          <form class="form-inline" th:action="@{auth/logout}" method="post">
			<button class="btn btn-link" type="submit"  data-toggle="tooltip" data-placement="bottom" title="Cerrar sesi&oacute;n"><i style="color:white" class="fa-solid fa-arrow-right-from-bracket"></i></button>
		</form>
        </li>
      </ul>
        
      <!--<form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>-->
    </div>
  </div>
</nav>
  </header>
</body>
</html>