<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.css">
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<header th:replace ="fragments :: header"></header>
<title>Home</title>
<br>
</head>

<body>
    <header>
        <h1>New dialect example</h1>
    </header>
    <section layout:fragment="custom-content">
        <p>Your page content goes here</p>
    </section>
    <footer>
        <p>My custom footer</p>
        <p layout:fragment="custom-footer">Your custom footer here</p>
    </footer>
</body>
</html>