<!DOCTYPE HTML>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<title>Gesti&oacute;n cursos</title>
</head>
<body>
<div th:replace="fragments :: header"></div>

<div sec:authorize="hasAuthority('ROL_ADMIN')">
	<br>
	<div style="text-align:center;width: 500px;margin: auto;">
    <header>
        <h1>Gesti&oacute;n de Cursos Grupo 1</h1>
    </header>
    <section layout:fragment="custom-content">
    	<p>Marta Rond&aacute;n Rodr&iacute;guez</p>
        <p>David Mateo Merino</p>
        <p>Rub&eacute;n Rojas de Tapia</p>
    </section>
    </div>
</div>

<div sec:authorize="hasAuthority('ROL_ALUMNO')">
	<br>
	<div class="container py-3">
  <div class="title h1 text-center">Noticias</div>

</div>

<div class="container" th:each="noticia: ${noticias}">
  <div class="card float-left">
    <div class="row ">

      <div class="col-sm-7">
        <div class="card-block">
          <!--           <h4 class="card-title">Small card</h4> -->
			<th th:text=${noticia.titulo}></th>
			<th th:text=${noticia.descripcion}></th>
          <!--  <a href="#" class="btn btn-primary btn-sm">Read More</a> -->
        </div>
      </div>

      <div class="col-sm-5">
        <img class="d-block w-100" th:src="@{../static/imagenes/}+${noticia.imagen}" ></img>
      </div>
    </div>
  </div>
 </div>
    <div class="alert alert-success" th:if="${success != null}"
		th:text="${success}"></div>
	<div class="alert alert-danger" th:if="${error != null}"
		th:text="${error}"></div>
	<div class="alert alert-warning" th:if="${warning != null}"
		th:text="${warning}"></div>
	<div class="alert alert-info" th:if="${info != null}"
		th:text="${info}"></div>
	</div>

</body>
</html>