<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}">
<meta charset="ISO-8859-1">
<title>Lista de profesor</title>
</head>
<body>
	<div th:replace="fragments :: header"></div>
	<br>
		<table class="table table-striped table-bordered">
			<thead class="thead-light">
				<tr>
					<th>Nombre</th>
					<th>Apellidos</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody th:each="profesor: ${profesores}">
				<tr>
					<th th:text=${profesor.nombre}></th>
					<th th:text=${profesor.apellidos}></th>
					<th th:text=${profesor.email}></th>
					<th>
					<a th:href="@{/profesores/formProfesor/} + ${profesor.idProfesor}">
						<button type="button" class="btn btn-default"><i class="fa-solid fa-pen-to-square"></i></button>
					</a> 
					<a th:href="@{/profesores/deleteProfesor/} + ${profesor.idProfesor}" >
							<button type="button" class="btn btn-default"><i class="fa-solid fa-trash" aria-hidden=true></i></button>
					</a>
					</th>
				</tr>
			</tbody>
		</table>
<br><br>
	<a th:href="@{/profesores/formProfesor/}">
		<button type="button" class="btn btn-primary">Nuevo Profesor</button>
	</a>
	<a th:href="@{/home}">
		<button type="button" class="btn btn-primary">Regresar</button>
	</a>

</body>
</html>