<!DOCTYPE html>
<html>
<head>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.css">
<meta charset="ISO-8859-1">
<title>Registro de usuario: </title>
</head>
<body>
<form th:action="@{/auth/register}" th:object="${user}" method="post">
		<input type="hidden" name="${csrf.parameterName}" value="${csrf.token}"/>
		<label>Username</label>
		<input type="text" class="form-control" th:field="*{username}" placeholder="username" name="username" id="username"/>
		<br>
		<label>Password</label>
		<input type="password" class="form-control" th:field="*{password}" placeholder="password" name="password" id="password"/>
		<br>
		<input class="btn btn-primary btn-block text-uppercase" id="boton" type="submit" value="Sign Up"/>
		</form>
</form>
</body>
</html>